/* BASIC STYLES HERE */
/* .purple-font {
    color: rgb(233, 152, 241)
}

card {
    background-color: rgba(47, 47, 47, 0.361);
    color: rgb(233, 152, 241);
    border: 6px solid rgb(233, 152, 241);
    border-radius: 6px;
}

body {
    background-color: rgb(47, 47, 47, );
    color: rgb(233, 152, 241);
} */